DEBUG=1
SECRET_KEY=secret_key_change_this
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 example.com
CSRF_TRUSTED_ORIGINS=https://example.com

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=example@example.com

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=django_db
SQL_USER=django_user
SQL_PASSWORD=django_password
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres

POSTGRES_DB=django_db
POSTGRES_USER=django_user
POSTGRES_PASSWORD=django_password

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_CONCURRENCY_COUNT=1

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_NAME=files
MINIO_URL=http://minio:9000

WORKERS_COUNT=2