<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Status</title>
    {% load static %}
    <script src="{% static 'task_status/task_status.js' %}"></script>
    <link rel="stylesheet" href="{% static 'task_status/style.css' %}">
</head>
<body>
    <input type="hidden" id="request-id" value="{{ request_id }}">
    <div style="text-align: center; margin-top: 50px;">
        <h1 id="status-message">Ожидайте, задача выполняется...</h1>
        <div id="result-container" style="margin-top: 20px;"></div>
    </div>
</body>
</html>